.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.app-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.app-actions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.app-actions .input {
  padding: 0.5rem 1rem;
}

.app-actions .btn {
  padding: 0.5rem 1rem;
}

.text-center {
  text-align: center;
}

.text-error {
  font-size: 13px;
  color: #fc3d21;
}

.tabs {
  margin-top: 1rem;
  display: flex;
}

.app-actions .btn,
.tabs .btn,
.item-actions .btn {
  flex: 1;
  background-color: #e8e8e8;
  border: 2px solid #e8e8e8;
  text-transform: uppercase;
}

.app-actions .btn.active,
.tabs .btn.active {
  background-color: #0b3d91;
  border: 2px solid #0b3d91;
  color: #fff;
}

.items {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 100%;
}

.item-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.item-desc {
  margin: 0 0 4px 0;
  display: -webkit-box;
  max-height: 4.8rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 4;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2rem;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  animation-name: appear;
  animation-duration: 300ms;
}

.modal-dialog {
  width: 100%;
  max-width: 550px;
  background: white;
  position: relative;
  margin: 0 20px;
  max-height: calc(100vh - 40px);
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s;
}

.modal-header,
.modal-footer {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.modal-header {
  border-bottom: 1px solid #dbdbdb;
  justify-content: space-between;
}
.modal-footer {
  border-top: 1px solid #dbdbdb;
  justify-content: flex-end;
}
.modal-close {
  cursor: pointer;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}
.modal-body {
  overflow: auto;
}
.modal-content {
  padding: 1rem;
}
.modal-title {
  margin: 0;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
}

.form-input {
  width: 100%;
  margin-bottom: 5px;
}

.lds-ring {
      vertical-align: sub;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ring span {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 3px;
  border: 3px solid #0b3d91;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0b3d91 transparent transparent transparent;
}
.lds-ring span:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring span:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring span:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
